/*body {*/
/*    background-color: #ffcccc;*/
/*}*/

/*.hopink {*/
/*    color: #d9b3ff;*/
/*}*/

/*!*------------------------------ Navbar Custom -------------------------------*!*/
/*.navbar-default {*/
/*    background-image: linear-gradient(#ffcccc, #DB7093);*/
/*/important;*/
/*}*/

/*.navbar-default .navbar-nav > li > a {*/
/*    color: #E30B5C !important;*/
/*}*/

/*.navbar-default .navbar-nav > li > a:hover {*/
/*    color: orange !important;*/
/*}*/

/*.navbar {*/
/*    font-family: Verdana !important;*/
/*}*/

/*.navbar-toggler {*/
/*    border: 3px solid #ffcccc !important;*/
/*}*/

/*.dropdown-menu {*/
/*    background-color: #ffcccc;*/
/*}*/

/*!*------------------- Color of links------------------------------------------*!*/
/*a:hover {*/
/*    color: orange !important;*/
/*}*/

/*a {*/
/*    color: royalblue;*/
/*}*/

/*.hand {*/
/*    font-family: "lucida handwriting", "Courier New", monospace;*/
/*}*/

/*!*-------------------------------Borders---------------------------------*!*/

/*.outset {*/
/*    border-style: outset;*/
/*    border-color: lightcoral;*/
/*    border-width: 5px;*/
/*}*/

/*.outset1 {*/
/*    border-style: outset;*/
/*    border-color: lightcoral;*/
/*    border-width: 15px;*/
/*}*/

/*.inset {*/
/*    border-style: inset;*/
/*    border-color: royalblue;*/
/*    border-width: 10px;*/
/*}*/

/*!*----------------------------------Font Sizes-------------------------------*!*/
/*.font25 {*/
/*    font-size: 25px;*/
/*}*/

/*.font25 {*/
/*    font-size: 25px;*/
/*}*/

/*.font60 {*/
/*    font-size: 60px !important;*/
/*}*/

/*.font18 {*/
/*    font-size: 18px;*/
/*}*/

/*.lightcoral {*/
/*    background-color: #ff9999;*/
/*}*/
/*!*-------------change color of non-active pill---------------------*!*/
/*.nav-pills .pill-2 .nav-link:not(.active) {*/
/*    background-color: #282828;*/
/*    color: #eeccff;*/
/*}*/
/*!*------------------change color of active pill --------------------*!*/
/*.nav-pills .pill-1 .nav-link {*/
/*    background-color: #101010;*/
/*    color: yellowgreen;*/
/*}*/
/*.black {*/
/*    font-color: black;*/
/*}*/
/*.verylightpink {*/
/*    color: #8080ff;*/
/*}*/
/*.margin {*/
/*    margin-left: -350px;*/
/*}*/

/*.margin1 {*/
/*    margin-left: -150px;*/
/*}*/

/*.px-2*/
/*{*/

/*}*/

/*.px-right {*/

/*}*/

/*.b {*/
/*    flex: 1;*/
/*    text-align: right;*/
/*}*/

/*.box {*/
/*    display: flex;*/

/*    justify-content: right;*/
/*}*/

/*.boxdiv {*/
/*    width: auto;*/
/*    height: auto;*/
/*}*/

/*.ml-auto {*/
/*    margin-left: auto !important;*/
/*}*/

/*ul {*/
/*    list-style-type: square;*/
/*    font-size: 20px;*/
/*}*/

/*.back-to-top {*/
/*    position: fixed;*/
/*    right: 2rem;*/
/*    bottom: 2rem;*/
/*    border-radius: 100%;*/
/*    background: darkslateblue;*/
/*    padding: 0.5rem;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    opacity: 100%;*/
/*    transition: opacity 0.5s;*/
/*}*/

/*.card {*/
/*    background-color: palevioletred;*/
/*}*/

/*.card-body {*/
/*    background-color: palevioletred;*/
/*}*/
/*!*---------------zoom in images---------------------*!*/
/*#zoomA {*/
/*  !* OPTIONAL DIMENSIONS *!*/
/*  width: auto;*/
/*  height: auto;*/

/*  !*ANIMATE ZOOM *!*/
/*  !* ease | ease-in | ease-out | linear *!*/
/*  transition: transform ease-in-out 0.5s;*/
/*}*/

/*!*ZOOM ON HOVER *!*/
/*#zoomA:hover { transform: scale(1.7); }*/
/*.contbcgrd {*/
/*    background-color: lavenderblush;*/
/*}*/
/*!*-------- Back to top button ----------*!*/
/*#myBtn {*/
/*  display: none;*/
/*  position: fixed;*/
/*  bottom: 20px;*/
/*  right: 30px;*/
/*  z-index: 99;*/
/*  font-size: 18px;*/
/*  border: none;*/
/*  outline: none;*/
/*  background-color: papayawhip;*/
/*  color: black;*/
/*  cursor: pointer;*/
/*  padding: 15px;*/
/*  border-radius: 15px;*/
/*    box-shadow: 0 0 5px #fff,0 0 10px #fff;*/
/*}*/
/*#myBtn:hover {*/
/*  background-color: white;*/
/*    color:black;*/
/*}-->*/

/*!*body {*!*/
/*!*background-image: linear-gradient(to bottom right, #f2bdcd, #f2f3f4);*!*/
/*!*}*!*/

/*!*.magenta {*!*/
/*!* color: #ca1f7b;*!*/
/*!*}*!*/

/*!*!*------------------------------ Navbar Custom -------------------------------*!*!*/
/*!*.navbar-default {*!*/
/*!*    background-image: linear-gradient(#ffcccc, #DB7093); !important;*!*/

/*!*}*!*/
/*!*.navbar-default .navbar-nav > li > a {*!*/
/*!*    color: #E30B5C!important;*!*/
/*!*}*!*/
/*!*.navbar-default .navbar-nav > li > a:hover {*!*/
/*!*    color: #803790 !important;*!*/
/*!*}*!*/
/*!*.fs-20 {*!*/
/*!*    font-size: 20px;*!*/
/*!*}*!*/

/*!*.fs-14 {*!*/
/*!*    font-size: 14px;*!*/
/*!*}*!*/
/*!*.royalblue {*!*/
/*!*   color: #4169E1   !important;*!*/
/*!*}*!*/

/*!*.navbar-toggler {*!*/
/*!*    border: 3px solid lavender !important;*!*/
/*!*}*!*/

/*!*.dropdown-menu {*!*/
/*!*    background-color: #ffe7ea;*!*/
/*!*}*!*/

/*!*!*------------------- Color of links------------------------------------------*!*!*/
/*!*a:hover {*!*/
/*!*    color: #803790!important;*!*/
/*!*}*!*/
/*!*a {*!*/
/*!*    color: #E30B5C;*!*/
/*!*}*!*/

/*!*.hand {*!*/
/*!* font-family: "lucida handwriting", "Courier New", monospace;*!*/
/*!*}*!*/
/*!*!*-------------------------------Borders---------------------------------*!*!*/

/*!*.outset {*!*/
/*!* border-style: outset;*!*/
/*!* border-color: lightcoral;*!*/
/*!* border-width: 6px;*!*/
/*!*}*!*/

/*!*.outset1 {*!*/
/*!* border-style: outset;*!*/
/*!* border-color: lightblue;*!*/
/*!* border-width: 15px;*!*/
/*!*}*!*/

/*!*.inset {*!*/
/*!* border-style: inset;*!*/
/*!* border-color: royalblue;*!*/
/*!* border-width: 10px;*!*/
/*!*}*!*/
/*!*!*----------------------------------Font Sizes-------------------------------*!*!*/
/*!*.font25 {*!*/
/*!* font-size: 25px;*!*/
/*!*}*!*/
/*!*.font25{*!*/

/*!*font-size: 25px;*!*/
/*!*}*!*/
/*!*.font60{*!*/
/*!*font-size: 60px !important;*!*/
/*!*}*!*/
/*!*.font18 {*!*/
/*!*font-size: 18px;*!*/
/*!*}*!*/

/*!*.verylightpink {*!*/
/*!* background-color: #f7bfbe;*!*/
/*!*}*!*/
/*!*!*---------------zoom in images---------------------*!*!*/
/*!*#zoomA {*!*/
/*!*  !* OPTIONAL DIMENSIONS *!*!*/
/*!*  width: auto;*!*/
/*!*  height: auto;*!*/

/*!*  !*ANIMATE ZOOM *!*!*/
/*!*  !* ease | ease-in | ease-out | linear *!*!*/
/*!*  transition: transform ease-in-out 0.5s;*!*/
/*!*}*!*/

/*!*!*ZOOM ON HOVER *!*!*/
/*!*#zoomA:hover { transform: scale(1.7); }*!*/
/*!*.contbcgrd {*!*/
/*!*    background-color: lavenderblush;*!*/
/*!*}*!*/

/*!*!*-------------change color of non-active pill---------------------*!*!*/
/*!*!*.nav-pills .pill-2 .nav-link:not(.active) {*!*/
/*!* background-color: #282828;*!*/
/*!* color: white;*!*/
/*!*} *!*!*/

/*!*!*------------------change color of active pill --------------------*!*!*/
/*!*!*.nav-pills .pill-1 .nav-link {*!*/
/*!* background-color: #101010;*!*/
/*!* color: white;*!*/
/*!*}*!*!*/


/*!*.back-to-top {*!*/
/*!*  position: fixed;*!*/
/*!*  right: 2rem;*!*/
/*!*  bottom: 2rem;*!*/
/*!*}*!*/
/*!*.b1 {*!*/
/*!*  border-top: 1px solid #8f8f8f;*!*/
/*!*}*!*/
/*!*.b2 {*!*/
/*!*  border-top: 4px solid #8f8f8f;*!*/
/*!*}*!*/

/*!*.hidden {*!*/
/*!*  display: none;*!*/
/*!*}*!*/

/*!*.offwhite {*!*/
/*!*background-color: #aec6cf;*!*/
/*!*}*!*/

/*!*.verylightpink {*!*/
/*!*    color: #8080ff;*!*/
/*!*}*!*/

/*!*.margin{*!*/
/*!* margin-left: -350px;*!*/

/*!*}*!*/
/*!*.margin1 {*!*/
/*!* margin-left: -150px;*!*/
/*!*}*!*/

/*!*.b {*!*/
/*!*  flex: 1;*!*/
/*!*  text-align: right;*!*/
/*!*}*!*/

/*!*.boxdiv {*!*/
/*!*  width: auto;*!*/
/*!*  height: auto;*!*/
/*!*}*!*/

/*!*.ml-auto {*!*/
/*!*    margin-left: auto !important;*!*/
/*!*}*!*/

/*!*ul {*!*/
/*!*    list-style-type: square;*!*/
/*!*    font-size: 20px;*!*/
/*!*}*!*/

/*!*.card  {*!*/
/*!*    background-color: #f7bfbe;*!*/

/*!*}*!*/
/*!*.card-body {*!*/
/*!*    background-color: #f7bfbe;*!*/

/*!*}*!*/

/*!*.ml-1 {*!*/
/*!*  margin-left:($spacer * .25) !important;*!*/
/*!*}*!*/

/*!*.indent {*!*/
/*!*    list-style: none;*!*/
/*!*    width: auto;*!*/
/*!*    text-indent: -20px; !* key property *!*!*/
/*!*    margin-left: 20px; !* key property *!*!*/

/*!*}*!*/
/*!*li { margin-bottom: 10px; }*!*/

/*!*!*-------- Back to top button ----------*!*!*/
/*!*#myBtn {*!*/
/*!*  display: none;*!*/
/*!*  position: fixed;*!*/
/*!*  bottom: 20px;*!*/
/*!*  right: 30px;*!*/
/*!*  z-index: 99;*!*/
/*!*  font-size: 18px;*!*/
/*!*  border: none;*!*/
/*!*  outline: none;*!*/
/*!*  background-color: papayawhip;*!*/
/*!*  color: black;*!*/
/*!*  cursor: pointer;*!*/
/*!*  padding: 15px;*!*/
/*!*  border-radius: 15px;*!*/
/*!*    box-shadow: 0 0 5px #fff,0 0 10px #fff;*!*/
/*!*}*!*/
/*!*#myBtn:hover {*!*/
/*!*  background-color: white;*!*/
/*!*    color:black;*!*/
/*!*}*!*/

/*!*!*----------------active tab highlight---------------*!*!*/
/*!*!*.active {*!*/
/*!*     color: yellowgreen !important;*!*/
/*!*    background-color: dimgray;*!*/
/*!*}*!*!*/

/*!*.active {*!*/
/*!*     color: palevioletred !important;*!*/
/*!*    background-color: lightpink;*!*/
/*!*    border-radius: 15px;*!*/
/*!*}*!*/

body {
background-image: linear-gradient(to bottom right, #ffcccc, #ffe6ff);
}

.darkpink {
 color:  #cc99ff;
}

/*------------------------------ Navbar Custom -------------------------------*/
.navbar-default {
    background-image: linear-gradient(#ffcccc, #DB7093); !important;
}
.navbar-default .navbar-nav > li > a {
    color: black !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #00FFFF !important;
}
.fs-20 {
    font-size: 20px;
}

.fs-14 {
    font-size: 14px;
}
.neonblue {
   color:  #CC00FF  !important;
}

.navbar-toggler {
    border: 3px solid #cc99ff !important;
}

.dropdown-menu {
    background-color:  #ffe6f3;
}

/*------------------- Color of links------------------------------------------*/
a:hover {
    color:  #ff4dd2 !important;
}
a {
    color: darkslateblue;
}

.hand {
 font-family: "lucida handwriting", "Courier New", monospace;
}
/*-------------------------------Borders---------------------------------*/

.outset {
 border-style: outset;
 border-color: lightpink;
 border-width: 5px;
}

.outset1 {
 border-style: outset;
 border-color: lightcoral;
 border-width: 15px;
}

.inset {
 border-style: inset;
 border-color: royalblue;
 border-width: 10px;
}
/*----------------------------------Font Sizes-------------------------------*/
.font25 {
 font-size: 25px;
}
.font25{

font-size: 25px;
}
.font60{
font-size: 60px !important;
}
.font18 {
font-size: 18px;
}

.grey {
 background-color: #f7bfbe;
}
/*---------------zoom in images---------------------*/
#zoomA {
  /* OPTIONAL DIMENSIONS */
  width: auto;
  height: auto;

  /*ANIMATE ZOOM */
  /* ease | ease-in | ease-out | linear */
  transition: transform ease-in-out 0.5s;
}

/*ZOOM ON HOVER */
#zoomA:hover { transform: scale(1.7); }
.contbcgrd {
    background-color: #D5D6EA;
}

/*-------------change color of non-active pill---------------------*/
/*.nav-pills .pill-2 .nav-link:not(.active) {
 background-color: #282828;
 color: white;
} */

/*------------------change color of active pill --------------------*/
/*.nav-pills .pill-1 .nav-link {
 background-color: #101010;
 color: white;
}*/


.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
.b1 {
  border-top: 1px solid #f7bfbe;
}
.b2 {
  border-top: 4px solid #f7bfbe;
}

.hidden {
  display: none;
}

.offwhite {
background-color: #aec6cf;
}

.verylightgrey {
    color: #686868;
}

.margin{
 margin-left: -350px;

}
.margin1 {
 margin-left: -150px;
}

.b {
  flex: 1;
  text-align: right;
}

.boxdiv {
  width: auto;
  height: auto;
}

.ml-auto {
    margin-left: auto !important;
}

ul {
    list-style-type: square;
    font-size: 20px;
}

.card  {
    background-color: #f7bfbe;

}
.card-body {
    background-color: #f7bfbe;

}

.ml-1 {
  margin-left: ($spacer * .25;) !important;
}

.indent {
    list-style: none;
    width: auto;
    text-indent: -20px; /* key property */
    margin-left: 20px; /* key property */

}
li { margin-bottom: 10px; }

/*-------- Back to top button ----------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #F6F6EB;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
    box-shadow: 0 0 5px #fff,0 0 10px #fff;
}
#myBtn:hover {
  background-color: white;
    color:black;
}

.active {
     color: darkmagenta !important;
    background-color: #D5D6EA;
    border-radius: 17px;
}
.high{
    color:#6666ff
}