{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-6 py-4">
            <img src="{{ url_for('static', filename='images/image1.png') }}" class="img-fluid py-1" alt="OOPbanner">
        </div>
        <div class="col-6 py-4">
            <h2 class="align-center mb-5"> Object-oriented programming has four basic concepts: </h2>
            <p class="py-0">
            <li class="fs-4">Encapsulation</li>
            <li class="fs-4">Inheritance</li>
            <li class="fs-4">Polymorphism</li>
            <li class="fs-4">Abstraction</li>
            </p>
        </div>
        <h1 class="b1"></h1>
        <p><strong>
            OOps, concepts in java is to improve code readability and reusability by defining a Java program
            efficiently. The main principles of object-oriented programming are abstraction, encapsulation, inheritance,
            and polymorphism. These concepts aim to implement real-world entities in programs.
        </strong>
        </p>
        <h4 class="neoblue">What is an object?</h4>
        <p>
            Objects are always called as instances of a class. Objects are created from class in java or any other
            languages. Objects are those that have state and behavior. Objects are abstract data types (i.e., objects
            behavior is defined by a set of values and operations).
        </p>
        <h4 class="neoblue">What is a class ?</h4>
        <p>
            Classes are like object constructors for creating objects. The collection of objects is said to be a class.
            Classes are said to be logical quantities. Classes don’t consume any space in the memory. Class is also
            called a template of an object. Classes have members which can be fields, methods and constructors. A class
            has both static and instance initializers.
        </p>
        <div class="container-fluid py-3">
            <h1 class="b1"></h1>
            <h4 class="neonblue"><u>Encapsulation : </u></h4>
            <p><span class="fs-4">E</span>ncapsulation is one of the concepts in OOPs concepts;
                it is the process that binds together
                the data and code into a single unit and keeps both from being safe from outside interference and
                misuse. In this process, the data is hidden from other classes and can be accessed only through the
                current class’s methods. Hence, it is also known as data hiding. Encapsulation acts as a protective
                wrapper that prevents the code and data from being accessed by outsiders. These are controlled through a
                well-defined interface.
                Encapsulation is achieved by declaring the variables as private and providing public setter and getter
                methods to modify and view the variable values. In encapsulation, the fields of a class are made
                read-only or write-only. This method also improves the re-usability. Encapsulated code is also easy to
                test for unit testing.
            </p>
            <div class="row align-items-start">
                <div class="col-7"><p class="fs-20"></p>
                    <p>
                        The general idea of this mechanism is simple. For example, you have an attribute that is not
                        visible from the outside of an object. You bundle it with methods that provide read or write
                        access. Encapsulation allows you to hide specific information and control access to the internal
                        state of the object.</p>

                    <p>
                        Figure to the right, shows an example of encapsulation used in Calculator
                        project. All methods are stored in calculation variable encapsulates the data and functionality
                        to perform get_results.
                    </p>
                </div>
                <div class="col-5 pb-4"><img src="{{ url_for('static', filename='images/e1.png') }}"
                                             class="img-fluid"
                                             alt="encaps1" id="zoomA">
                    <p><em>Example of Encapsulation.</em></p>
                </div>

            </div>

            <h1 class="b1"></h1>
            <h4 class="neonblue mt-5"><u>Inheritance</u></h4>
            <div class="row align-items-start">
                <div class="col-8">
                    <p><span class="fs-4">I</span>nheritance is a method in which one object
                        acquires/inherits another object’s properties, and inheritance also supports hierarchical
                        classification. The idea behind this is that we can create new classes built on existing
                        classes, i.e., when you inherit from an existing class, we can reuse methods and fields of the
                        parent class. Inheritance represents the parent-child relationship.
                        We use inheritance mainly for method overriding and R. There are five types of inheritance
                        single, multilevel, multiple, hybrid and hierarchical.</p>
                    <p>
                        Figure shows calculation as a parent class and another Figure shows multiplication class as a
                        child class of Calculation. Multiplication class is extending Calculation class which
                        demonstrates
                        inheritance.
                    </p>
                </div>
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/ss1.png') }}" class="img-fluid"
                         alt="parentclass" id="zoomA">
                    <p class="fs-14"><em>Example of Inheritance: Parent class</em></p>
                    <img src="{{ url_for('static', filename='images/ss2.png') }}" class="img-fluid"
                         alt="childclass" id="zoomA">
                    <p class="fs-14 pb-4"><em> Child class</em></p>

                </div>
            </div>
            <h1 class="b1"></h1>
            <h4 class="neonblue mt-5"><u>Polymorphism</u></h4>
            <div class="row align-items-start">
                <div class="col-6">
                    <p><span class="fs-4">P</span>olymorphism refers to many forms, or it is a process
                        that performs a single action in different ways. It occurs when we have many classes related to
                        each other by inheritance. Polymorphism is of two different types, i.e., compile-time
                        polymorphism and runtime polymorphism. One of the examples in Compile time polymorphism is that
                        when we overload a static method in java. Run time polymorphism is also called a dynamic method
                        dispatch is a method in which a call to an overridden method is resolved at run time rather than
                        compile time. In this method, the overridden method is always called through the reference
                        variable. By using method overloading and method overriding, we can perform polymorphism.
                        Generally, the concept of polymorphism is often expressed as one interface, multiple methods.
                        This reduces complexity by allowing the same interface to be used as a general class of action.
                    </p>
                    <p>
                        From figure we can see"get_results()" shows polymorphism that is it can work on any class of
                        calculations and give reults.
                    </p>
                </div>
                <div class="col-6"><img
                        src="{{ url_for('static', filename='images/Screen Shot 2022-03-31 at 6.13.58 PM.png') }}"
                        class="img-fluid"
                        alt="poly" id="zoomA"> <em> Example of polymorphism</em>
                </div>
            </div>
        </div>

        <h1 class="b1"></h1>
        <h4 class="mt-3 neonblue mt-5"><u>Abstraction</u></h4>
        <div class="row align-items-start">
            <div class="col-7">
                <p><span class="fs-4">A</span>bstraction is a process which displays only the
                    information needed and hides the unnecessary
                    information. We can say that the main purpose of abstraction is data hiding. Abstraction means
                    selecting data from a large number of data to show the information needed, which helps in
                    reducing programming complexity and efforts.
                    There are also abstract class and abstract methods. An abstract class is a type of class that
                    declares one or more abstract methods. An abstract method is a method that has a method
                    definition but not implementation. Once we have modelled our object using data abstraction, the
                    same sets of data can also be used in different applications—abstract classes, generic types of
                    behaviours and object-oriented programming hierarchy. Abstract methods are used when two or more
                    subclasses do the same task in different ways and through different implementations. An abstract
                    class can have both the methods, i.e., abstract methods and regular methods.Abstraction is used to
                    hide the internal functionality of the function from the
                    users. The users only interact with the basic implementation of the function, but inner working
                    is hidden. User is familiar with that "what function does" but they don't know "how it does."
                    Let's take an example - When we use the TV remote to increase the
                    volume. We don't know how pressing a key increases the volume of the TV. We only know to press
                    the "+" button to increase the volume.
                </p>
                <p><span class="fs-4">F</span>igure shows abstraction example of my project.
                    'get_results()' isn't directly performing multiplication or subtraction function. It is calling
                    a loop and within
                    the loop there is an multiply or subtract function. It's abstracting process of doing
                    multiplication or subtraction on a list of numbers.
            </div>
            <div class="col-5 pb-4"><img src="{{ url_for('static', filename='images/ss3.png') }}"
                                         class="img-fluid"
                                         alt="abstrobject" id="zoomA"> <em>Example of Abstraction</em>
            </div>

            <h1 class="b1"></h1>
            <h4 class="neonblue mt-1"><u>Glossary :</u></h4>
            <div class="row align-items-start">
                <div class="col-5 pb-4">
                    <p><h5 class="neonblue"><u>Method:</u></h5>
                    <span class="fs-4">A</span> method is a function that “belongs to” an object. (In Python, the
                    term method is not unique to class instances: other object types can have methods as well. For
                    example, list objects have methods called append, insert, remove, sort, and so on.
                    The method is implicitly used for an object for which it is called.
                    The method is accessible to data that is contained within the class.</p>
                    <p><strong>Class Method: </strong> A class method is a method that is bound to a class rather than
                        its object. It doesn't require creation of a class instance, much like staticmethod.
                    </p>
                    <p><strong>Static Method: </strong> Static methods, much like class methods, are methods that are
                        bound to a class rather than its object. They do not require a class instance creation. So, they
                        are not dependent on the state of the object.
                    </p>
                    <p>The difference between a static method and a class method is: Static method knows nothing about
                        the class and just deals with the parameters.</p>
                </div>
                <div class="col-7 pb-4">
                    <p class="fs-20">
                        <img src="{{ url_for('static', filename='images/m1.png') }}"
                             class="img-fluid"
                             alt="methods" id="zoomA"> <em>Example of Static&Class Method </em>
                    </p>
                </div>
            </div>
        </div>

        <h1 class="b1"></h1>
        <h4 class="neonblue mt-1"><u>Instantiation :</u></h4>
        <div class="row">
            <div class="col-7">
                <p><span class="fs-4">I</span>nstantiating a class is creating a copy of the class
                    which inherits all class variables and methods. Instantiating a class in Python is simple. To
                    instantiate a class, we simply call the class as if it were a function, passing the arguments
                    that the __init__ method defines. The return value will be the newly created object.
                    Instantiation is the creation of a real instance or particular realization of an abstraction or
                    template such as a class of objects or a computer process. To instantiate is to create such an
                    instance by, for example, defining one particular variation of object within a class, giving it
                    a name, and locating it in some physical place.
                </p>
            </div>
            <div class="col-5 pb-4">
            </div>

        </div>
        <h1 class="b1"></h1>
        <h4 class="neonblue mt-1"><u>Constructor</u></h4>
        <div class="row align-items-start">
            <div class="col-7">
                <p><span class="fs-4">The </span> constructors are generally used for instantiating an
                    object. The task of constructors is to initialize(assign values) to the data members of the
                    class when an object of the class is created. In Python the __init__() method is called the
                    constructor and is always called when an object is created.It is s a special type of method
                    (function) which is used to initialize the instance members of the class. Constructor definition
                    is executed when we create the object of this class. Constructors also verify that there are
                    enough resources for the object to perform any start-up task.
                    The syntax of construction declaration : def __init__(self):
                    # #body of the constructor
                </p>
                <p>
                    <strong>Default constructor:</strong> The default constructor is a simple constructor which doesn’t
                    accept any arguments. Its definition has only one argument which is a reference to
                    the instance being constructed.
                </p>
                <p>
                    <strong>Parameterized constructor:</strong> constructor with parameters is known as parameterized
                    constructor. The parameterized constructor takes its first argument as a
                    reference to the instance being constructed known as self and the rest of the
                    arguments are provided by the programmer.
                </p>
            </div>
            <div class="col-5">

                <p class="fs-20">Constructors are of two types:
                <li>Parameterized Constructor</li>

                <li>Non-parameterized Constructor</li>
                </p>
            </div>
            <div class="row align-items_end mt-5">
                <div class="col-12">

                    <div class="row">

                    </div>
                    <h1 class="b1"></h1>
                    <h4 class="neonblue"><u>Instantiation</u></h4>
                    <div class="row align-items-start">
                        <div class="col-7">
                            <p class="fs-20"><span class="fs-4">I</span>nstantiating a class is creating a copy
                                of the
                                class
                                which
                                inherits all class variables and
                                methods. Instantiating a class in Python is simple. To instantiate a class, we
                                simply
                                call
                                the
                                class as if it were a function, passing the arguments that the __init__ method
                                defines.
                                The
                                return value will be the newly created object.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="b1"></h1>
            <h4 class="mt-1 neonblue"><u>Fixtures</u></h4>
            <div class="row align-items-start">
                <div class="col-7">
                    <p><span class="fs-3">F</span>ixtures define the steps and data that
                        constitute the arrange phase of a test (see Anatomy of a test). In pytest, they
                        are functions you define that serve this purpose. They can also be used to
                        define a test’s act phase; this is a powerful technique for designing more
                        complex tests.
                        The services, state, or other operating environments set up by fixtures are
                        accessed by test functions through arguments. For each fixture used by a test
                        function there is typically a parameter (named after the fixture) in the test
                        function’s definition.
                        Fixtures are functions, which will run before each test function to which it is
                        applied. Fixtures are used to feed some data to the tests such as database
                        connections, URLs to test and some sort of input data. Therefore, instead of
                        running the same code for every test, we can attach fixture function to the
                        tests and it will run and return the data to the test before executing each
                        test.A function is marked as a fixture by − " @pytest.fixture".
                    </p>
                </div>
            </div>
            <h1 class="b1"></h1>
            <h4 class="mt-1 neonblue"><u>Namespace</u></h4>
            <div class="row">
                <div class="col-7">
                    <p><span class="fs-3">A</span> namespace is a collection of currently defined symbolic names along
                        with information about the object that each name references. You can think of a namespace as a
                        dictionary in which the keys are the object names and the values are the objects themselves.
                        A namespace is basically a system to make sure that all the names in a program are unique and
                        can be used without any conflict. You might already know that everything in Python—like strings,
                        lists, functions, etc. —is an object. Another interesting fact is that Python implements
                        namespaces as dictionaries.</p>
                    <p>
                        <strong>Types of namespaces :</strong>
                        When Python interpreter runs solely without any user-defined modules, methods,
                        classes,
                        etc.
                        Some functions like print(), id() are always present, these are built-in
                        namespaces.
                        When a
                        user
                        creates a module, a global namespace gets created, later the creation of local
                        functions
                        creates
                        the local namespace. The built-in namespace encompasses the global namespace and
                        the
                        global
                        namespace encompasses the local namespace.
                    </p>
                    <strong>The lifetime of a namespace :</strong>
                    A lifetime of a namespace depends upon the scope of objects, if the scope of an
                    object
                    ends,
                    the
                    lifetime of that namespace comes to an end. Hence, it is not possible to access
                    the
                    inner
                    namespace’s objects from an outer namespace.</p>
                </div>
                <div class="col-5">
                    <img src="{{ url_for('static', filename='images/types_namespace-1.png') }}"
                         class="img-fluid py-2 mt-3"
                         alt="object">
                </div>
                <h1 class="b1"></h1>
                <h4 class="mt-1 neonblue"><u>Unit testing</u></h4>
                <div class="row align-items-start">
                    <div class="col-8">
                        <p><span class="fs-3">U</span>is a software testing method by which individual units of source
                            code are put under various tests to determine whether they are fit for use (Source). It
                            determines and ascertains the quality of your code.
                            The unit test framework in Python is called unittest, which comes packaged with Python.
                            Unit testing makes your code future proof since you anticipate the cases where your code
                            could potentially fail or produce a bug. Though you cannot predict all of the cases, you
                            still address most of them.</p>
                        <p>
                            A unit could be bucketed into various categories:
                        <li>An entire module.</li>
                        <li>An individual function.</li>
                        <li>A complete interface like a class or a method.</li>

                        Normally, we print the value and match it with the reference output or check
                        the output
                        manually.
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="{{ url_for('static', filename='images/ut.png') }}"
                             class="img-fluid "
                             alt="unittest" id="zoomA"> <em>Example of unit testing</em>
                    </div>
                    <h1 class="b1"></h1>
                    <h4 class="neonblue mt-3"><u>Type Hint</u></h4>
                    <div class="row align-items_end">
                        <div class="col-9">
                            <p><span class="fs-3">T</span>ype hinting is a formal solution
                                to
                                statically indicate
                                the
                                type
                                of a value within your Python
                                code. It was specified in PEP 484 and introduced in Python 3.5.
                                As the code base gets larger, type hints can help to debug and prevent some dumb
                                mistakes. If you're using an IDE like PyCharm, you'll get a warning message whenever
                                you've used the wrong data type, provided you're using type hints.
                            </p>
                        </div>
                        <h1 class="b1"></h1>
                        <h4 class="neonblue mt-1"><u>Type Cast</u></h4>
                        <div class="row align-items_end">
                            <div class="col-7">
                                <p><span class="fs-3">T</span>ype Casting is the method to
                                    convert the
                                    variable data
                                    type
                                    into a certain data type.asting in python is therefore done using
                                    constructor functions:

                                <li>int() - constructs an integer number from an integer literal, a float
                                    literal (by removing all decimals), or a string literal (providing the
                                    string represents a whole number).
                                </li>
                                <li>float() - constructs a float number from an integer literal, a float
                                    literal or a string literal (providing the string represents a float or
                                    an integer).
                                </li>
                                <li>str() - constructs a string from a wide variety of data types, including
                                    strings, integer literals and float literals.
                                </li>
                                </p>
                            </div>

                            <div class="col-1"></div>
                            <div class="col-4">
                                <img src="{{ url_for('static', filename='images/tc.png') }}"
                                     class="img-fluid py-1 "
                                     alt="typec" id="zoomA"><em> Example of TypeCasting
                            </em>
                            </div>
                        </div>
                    </div>
                </div>
                </ul>
            </div>
            </li>
            </ul>
        </div>
        <h1 class="b1 pt-5"></h1>
        <div class="container fs-14">
            <p style="font-size: small">Resources:
            <ul style="font-size: small">
                <li><a href="https://www.unf.edu/~broggio/cop3540/OOPTerms.htm" class="card-link darkgrey"
                       target="_blank">Instantiation</a>
                </li>
                <li>
                    <a href="https://www.tutorialspoint.com/Explain-Inheritance-vs-Instantiation-for-Python-classes#:~:text=Instantiating%20a%20class%20is%20creating,__init__%20method%20defines."
                       class="card-link darkgrey" target="_blank">Constructor</a>
                </li>
                <li>
                    <a href="https://www.geeksforgeeks.org/python-object/"
                       class="card-link darkgrey" target="_blank">Instantiation</a>
                </li>
                <li>
                    <a href="https://stackify.com/oop-concept-for-beginners-what-is-encapsulation/"
                       class="card-link darkgrey" target="_blank">Encapsulations</a>
                </li>
                <li>
                    <a href="https://docs.pytest.org/en/7.0.x/explanation/fixtures.html#:~:text=Fixtures%20define%20the%20steps%20and,for%20designing%20more%20complex%20tests."
                       class="card-link darkgrey" target="_blank">Fixtures</a>
                </li>
                <li>
                    <a href="https://www.programiz.com/python-programming/polymorphism"
                       class="card-link darkgrey" target="_blank">Polymorphism</a>
                </li>
                <li><a href="https://realpython.com/lessons/type-hinting/"
                       class="card-link darkgrey" target="_blank">Type Hint</a></li>
                <li>
                    <a href="https://www.geeksforgeeks.org/type-casting-in-python-implicit-and-explicit-with-examples/"
                       class="card-link darkgrey" target="_blank">Type Cast</a>
                </li>
                <li>
                    <a href="https://www.programiz.com/python-programming/methods/built-in/staticmethod"
                       class="card-link darkgrey" target="_blank">Static Method</a>
                </li>
                <li>
                    <a href="https://www.tutorialspoint.com/class-or-static-variables-in-python"
                       class="card-link darkgrey" target="_blank">Static Property</a>
                </li>
                <li>
                    <a href="https://www.javatpoint.com/abstraction-in-python"
                       class="card-link darkgrey" target="_blank">Abstraction</a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}